#budget-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#income-container, #expense-container, #debt-container {
  height: 80vh;
  width: 400px;
  border: solid black;
  border-radius: 10px;
  overflow: scroll;
  margin-top: 6vh;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  /* align-content: flex-start; */
  /* margin-left: 33%; */
}

.info-card {
  background-color: lightgrey;
  width: 80%;
  border: solid black;
  border-radius: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 10%;
}

