#welcome-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#sign-up-container, #sign-in-container {
  height: 35vh;
  width: 400px;
  border: solid black;
  border-radius: 10px;
  overflow: scroll;
  margin-top: 30vh;
  /* margin-left: 33%; */
}
